<div class="navbar-hytek">
  <div class="navbar-hytek-logo">
    <%= link_to root_path do %>
      <%= image_tag("hy-tek-current-logo.jpeg") %>
    <% end %>
  </div>

  <div class="navbar-links">
  <ul id="navbar-links">
    <li>Technologies</li>
    <li>Updates</li>
    <li>About</li>
    <li>Contact</li>

  </ul>
  </div>




</div>
