<div class="home-banner" style="background-image: linear-gradient(-225deg, rgba(15,52,67,0.5) 0%, rgba(35,122,87,0.4) 50%), url('https://images.pexels.com/photos/343188/pexels-photo-343188.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');">
  <div class="home-banner-content">
    <h1>Harnessing Natural Efficiency</h1>
    <p>To Reclaim the Environment</p>
  </div>
</div>

<h2>more stuff down here</h2>

<!-- linear-gradient(-225deg, rgba(0,50,168,0.6) 0%, rgba(0,76,61,0.6) 50%),  -->
<!-- https://images.pexels.com/photos/534736/pexels-photo-534736.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb -->



<!-- https://images.pexels.com/photos/343188/pexels-photo-343188.jpeg?w=940&h=650&auto=compress&cs=tinysrgb -->

